<!doctype html>
<html>
 <head>
 <title>Caloriebuddy | Add ingridient page</title>
 </head>
 <body>
    <!-- this block of code creates the navigation bar, R1B -->
    <div class="topnav">
        <a href="./">Home</a>
        <a href="./list-food">List-food</a>
        <a class="active" href="./add-food">Add-food</a>
        <a href="./search-food">Search-food</a>
        <a href="./update-food">Update-food</a>
        <a href="./about">About</a>
    </div>
    
    <h1> This is Add-food page </h1>
    <h3>Please fill out the form to add nem ingridients</h3>
    <!-- This code block creates a form where the user writes in the data of the record that needs to be added to the database, R3A -->
    <form method="POST" action="/add">
        <p>Food ingridient name: </p>
        <input id="name" type="text" name="name" value="e.g. Potato" />
        <br>
        <p>Calorie (kcal/100g) (e.g. 150): </p>
        <input id="calorie" type="text" name="calorie" value="0" />
        <br>
        <p>Protein (g/100g) (e.g. 15): </p>
        <input id="protein" type="text" name="protein" value="0" />
        <br>
        <p>Fat (g/100g) (e.g. 15.5): </p>
        <input id="fat" type="text" name="fat" value="0" />
        <br>
        <p>Carbs (g/100g) (e.g. 15.5): </p>
        <input id="carbs" type="text" name="carbs" value="0" />
        <br>
        <p>Sugar (g/100g) (e.g. 15.5): </p>
        <input id="sugar" type="text" name="sugar" value="0" />
        <br>
        <p>Fiber (g/100g) (e.g. 15.5): </p>
        <input id="fiber" type="text" name="fiber" value="0" />
        <br>
        <br>
        <input type="submit" value="SUBMIT" />
     </form>
     <!-- this code block runs after the record was successfully added to the database -->
     <% if(typeof inserted !== 'undefined')  {%>
        <% if(inserted == true)  {%>  
            <h3>Record is succesfully inserted</h3>
        <% } %>
    <% } %> 

 </body>
</html>