<!doctype html>
<html>
 <head>
 <title>Caloriebuddy | About page</title>
 </head>
 <body>
    <!-- this block of code creates the navigation bar, R1B -->
    <div class="topnav">
        <a href="./">Home</a>
        <a href="./list-food">List-food</a>
        <a href="./add-food">Add-food</a>
        <a href="./search-food">Search-food</a>
        <a href="./update-food">Update-food</a>
        <a class="active" href="./about">About</a>

    </div>
    <!-- This is the mian text on the About page, R2A -->
    <h1> This is the About page of the CalorieBuddie webapplication</h1>
    <p> The application helps the user to build and maintain a database of food ingridients included 
    <br>some properties of the ingridients such as calories, carbs, fiber, etc..</p>
    <p>Developer's name:  <strong> Erik Szurovecz </strong></p>
    <p><strong>Databases, Networks and the Web - Mid-term assignment 2020</strong></p>
 </body>
</html>